version: "3.9"

services:
  db:
    image: postgres:15
    container_name: company-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: companydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - company-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d companydb"]
      interval: 5s
      timeout: 5s
      retries: 10

  flyway:
    image: flyway/flyway:10
    container_name: flyway
    command: -url=jdbc:postgresql://db:5432/companydb -user=postgres -password=postgres -connectRetries=60 migrate
    volumes:
      - ./flyway/sql:/flyway/sql
    depends_on:
      db:
        condition: service_healthy
    networks:
      - company-net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: company-api
    environment:
      APP_PORT: 8080
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: companydb
      DATABASE_SSLMODE: disable
    depends_on:
      db:
        condition: service_healthy
      flyway:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    networks:
      - company-net

networks:
  company-net:
    driver: bridge

volumes:
  pgdata:
